* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-input {
    width: 400px;
}

.def-card {
    padding: 10px
}

.def-row {
    justify-content: space-evenly;
}